#request_size {
  width: 225px;
  height: 32px;
  padding: 0px 0px;
  color: #747474;
  text-align: center;
}


input[type=submit] {
    padding:5px 15px;
    background: #C22F2F;
    color: white;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

button, input, optgroup, select, textarea {
  color: black;
}
.container {
 width: none;
}
