<div class="banner-request">

  <div id="title">
    <p>Travelling somewhere?</p>
  </div>
  <div id="subtitle">
    <p>Make money with your trips</p>
  </div>
  <div class = "container">
  <div class = "row">
    <div class="col-sm-offset-4 col-sm-4 col-xs-12">
      <div class="form-inline">

      <%= render 'form', request: @request %>
      </div>
    </div>

  </div>

  </div>

</div>
