<div class="banner-request">

  <div id="title">
    <p>Travelling somewhere?</p>
  </div>
  <div id="subtitle">
    <p>Make money with your trips</p>
  </div>

  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="form-inline">

    <%= render 'form', request: @request %>
    </div>
  </div>

</div>
