<div class="banner-request">
    <div id="title">
      <!-- <h1>Need to deliver something?</h1> -->
      <h1>Post your delivery request</h1>
    </div>
<!--     <div id="subtitle">
      <p>Post your delivery request</p>
    </div> -->
    <div class = "container">
      <div class = "row">
        <div class="col-sm-offset-4 col-sm-4 col-xs-12">
          <div class="">
            <%= render 'form', request: @request %>
          </div>
        </div>
      </div>
    </div>
</div>

<div id="What is Lev&Traz?">
  <h1>What is Lev&Traz</h1>
  <br>
  <p><strong>Lev&Traz</strong> is a community delivery solution that connects people who need to send something with someone going that way, anyway. By working together as a community we can make shipping easier, sustainable, cost-effective and friendly. <strong>Lev&Traz</strong> is the community that delivers. </p>
</div>
