<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="home-banner">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div id="title">
        <p>Travelling somewhere?</p>
      </div>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div id="subtitle">
        <p>Make money with your trips</p>
      </div>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12">
      <%= render 'shared/search_bar' %>
    </div>
  </div>
</div>
<div class="col-md-12 col-sm-12 col-xs-12">
  <div id="What is Levitraz?">
    <h1>What is Levitraz</h1>
    <br>
    <p><strong>Levitraz</strong> is a community delivery solution that connects people who need to send something with someone going that way, anyway. By working together as a community we can make shipping easier, sustainable, cost-effective and friendly. <strong>Levitraz</strong> is the community that delivers. </p>
  </div>
</div>
