  <div class="home-banner">

    <div id="title">
      <p>Going to travel ?</p>
    </div>
    <div id="subtitle">
      <p>Make money with your trips</p>
    </div>

  </div>
  </div>


  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <%#= "Lorem ipsum dolor sit amet, consectetur adipisicing elit " * 100 %>
      </div>
    </div>
  </div>
