
<div class="home-banner">
  <div id="title">
    <h1>Make money with your trip!</h1>
  </div>
  <div id="subtitle">
    <p>Search for goods to deliver</p>
  </div>
  <%= render 'shared/search_bar' %>
</div>

<div id="What is Lev&Traz?">
  <h1>What is Lev&Traz</h1>
  <br>
  <p><strong>Lev&Traz</strong> is a community delivery solution that connects people who need to send something with someone going that way, anyway. By working together as a community we can make shipping easier, sustainable, cost-effective and friendly. <strong>Lev&Traz</strong> is the community that delivers. </p>
</div>

