
<div class="home-banner">
  <div id="title">
    <p>Travelling somewhere?</p>
  </div>
  <div id="subtitle">
    <p>Make money with your trips</p>
  </div>
  <%= render 'shared/search_bar' %>
</div>

<div id="What is Levitraz?">
  <h1>What is Lev&traz</h1>
  <br>
  <p><strong>Lev&traz</strong> is a community delivery solution that connects people who need to send something with someone going that way, anyway. By working together as a community we can make shipping easier, sustainable, cost-effective and friendly. <strong>Lev&traz</strong> is the community that delivers. </p>
</div>

