  <div class="home-banner">

    <div id="title">
      <p>Alguem indo ?</p>
    </div>
    <div id="subtitle">
      <p>GANHE DINHEIRO COM SUAS VIAGENS</p>

      <div class="button">
        <button type="button" class="btn btn-primary btn-lg">Entrar</button>
      </div>

    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <%= "Lorem ipsum dolor sit amet, consectetur adipisicing elit " * 100 %>
      </div>
    </div>
  </div>
