
<div class="home-banner">
  <div id="title">
    <p>Make money with your trip!</p>
  </div>
  <div id="subtitle">
    <p>Be part of our delivery community!</p>
  </div>
  <%= render 'shared/search_bar' %>
</div>

<div id="What is Levitraz?">
  <h1>What is Levitraz</h1>
  <br>
  <p><strong>Levitraz</strong> is a community delivery solution that connects people who need to send something with someone going that way, anyway. By working together as a community we can make shipping easier, sustainable, cost-effective and friendly. <strong>Levitraz</strong> is the community that delivers. </p>
</div>

