.home-banner {
  background-image: -webkit-linear-gradient(top right, rgba(0,101,168,0.3) 0%, rgba(0,36,61,0.3) 50%), asset-url('image.jpg');
  background-size: cover;
  height: 100vh;
  color: #eee;
  text-align: center;
  padding-top: 30vh;
  margin-top: -25px;
}

.banner-request {
  background-image: -webkit-linear-gradient(top right, rgba(0,101,168,0.3) 0%, rgba(0,36,61,0.3) 50%), asset-url('image-1.jpg');
  background-size: cover;
  height: 140vh;
  color: #eee;
  text-align: center;
  padding-top: 30vh;
  margin-top: -25px;
}


#title {
  font-size: 50px; //for responsivness do not put the size higher
  text-shadow: 1px 1px 4px black;
  font-weight: 450;
  opacity: 0.7;
  margin: -70px auto;
  margin-right: 40px;
}

#subtitle {
  // font-family: 'Open Sans', sans-serif;
  // text-shadow: 1px 1px 5px black;
  letter-spacing: 7px;
  font-size: 25px;
  opacity: 0.7;
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.7);
  margin: 70px;
  margin-right: 30px;
}

#home-search {
  margin: -30px;
}

.button {
  padding: 25px;
  margin: 0px;
}

