.home-banner {
  background-image: url('image.jpg');
  background-size: cover;
  height: 100vh;
  color: #eee;
  text-align: center;
  padding-top: 40vh;

}

#title {
  font-family: 'Open Sans', sans-serif;
  font-size: 60px;
  text-shadow: 1px 1px 5px black;
  padding-top: 70px;
}

