.main-container {
  display: grid;
  grid-template-columns: 710px auto;
}
.card-container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  grid-gap: 10px;
  padding: 10px;
}
.card-body-front {
  padding: 7px;
}
.card-body-back {
  padding: 20px;
  padding-top: 0px;
  margin: 15px;
  position: relative;
}

.button-deliver{
 position: absolute;
 left: 130px;
 bottom: 25px;
}

.card-picture {
  width: 324px;
  height: 240px;
  background-size: cover !important;
  background-position: center;
  position: relative;
}
.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
}
.card-description-flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 8px;
}
.card-description-flex h2 {
  color: #C22F2F;
  font-size: 24px;
  margin:0px;
}
.card-description-flex p {
  color: black;
  font-size: 13px;
  opacity: 0.7;
  font-weight: lighter;
  margin: 0px;
  max-width: 340px;
}
.card-comment-flex p {
  color: black;
  font-size: 15px;
  opacity: 0.7;
  font-style: italic;
  font-weight: lighter;
  margin: 0px;
  max-width: 340px;
}
.stars {
  display: flex;
  justify-content: left;
  font-size: 1.3rem;
  color: orange;
  position: absolute;
}

.card-show {
  display: flex;
  justify-content: space-around;
  background: white;
  width: 340px;
  height:340px;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  border-color: #f3f3f3;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
}

.card-show-container {
  max-width: 1400px;
  margin: 0 auto;
}
