.flip3D {
  width: 340px !important;
  height:340px !important;

}
.flip3D > .front {
  position:absolute;
  transform: perspective( 600px ) rotateY( 0deg );
  background: white;
  width: 340px;
  height:340px;
  border-radius: 4px;
  backface-visibility: hidden;
  transition: transform .5s linear 0s;
  border-style: solid;
  border-width: 1px;
  border-color: #f3f3f3;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
}
.flip3D > .back {
  position:absolute;
  transform: perspective( 600px ) rotateY( 180deg );
  background: white;
  width: 340px;
  height:340px;
  border-radius: 4px;
  backface-visibility: hidden;
  transition: transform .5s linear 0s;
  border-style: solid;
  border-width: 1px;
  border-color: #f3f3f3;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);

}
.flip3D:hover > .front {
  transform: perspective( 600px ) rotateY( -180deg );
}
.flip3D:hover > .back {
  transform: perspective( 600px ) rotateY( 0deg );
}

