.footer {
  background: #233140;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 50px;


// for fixed the footer at the bottom of the page
  //bottom: 0px;
  //height: 30px;
  //right: 0%;
  //left: 0%;
  //position: fixed!important;
  //position: absolute;
  //width: 100%;
  //text-align: center;
  //visibility: visible;
}
.footer-social {
  color: white;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: white;
  opacity: 0.20;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}
