.search-bar {

  font-size: 15px;
  margin: 0 auto;
  height: 30px;
}

.search-bar-btn {

  font-size: 15px;
  margin: 0 auto;
  height: 30px;
}

.ap-input-icon {
  right: 7px;
}

.ap-icon-pin {
  right: 7px;
}

#query_delivery_date_ {
  background-color: white;
}

@media (max-width: 767.98px) {
  .search-input {

    width: 80%;
    form {
    display: flex;
    flex-direction: column;
    .algolia-places {
      width: unset !important;
    }
      input {
        width: 100%;
        margin: 0 10px 10px 10px;
      }
      svg {
        position: absolute;
        top: 16px;
        right: -5px;
      }
    }
  }
}
