.search-bar {
  height: 10px;
  font-size: 15px;
  margin: 0 auto;
  height: 30px;
}

.ap-input-icon {
  right: 7px;
}

.ap-icon-pin {
  right: 7px;
}

#query_delivery_date_ {
  background-color: white;
}
